<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Goods</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="w3-row-padding" th:fragment="list(goods)">
            <div class="w3-col s12" th:if="${category.getParent()==null}" th:each="subCategory : ${category.getSubCategories()}">
                <i><h4 th:text="${subCategory.categoryName}" class="w3-text-red w3-margin-top">Sub Category</h4></i>
                <div class="w3-col s12 m4 l3" th:if="${g.getCategory() == subCategory}" th:each="g : ${goods}">
                    <div class="w3-card-4" style="display:block">
                        <a href="good.html" th:href="@{/good(goodsId=${g.id})}">
                            <img src="http://via.placeholder.com/300x300" th:src="${g.imgSrc}" style="width:100%;max-height: 300px;object-fit: contain" class="w3-margin-top"/>
                        </a>
                        <div class="w3-container">
                            <a href="good.html" th:href="@{/good(goodsId=${g.id})}"><h3 th:text="${g.name}">La Geometria Mar</h3></a>
                            <p><span class="fa fa-star checked" th:if="${g.rating>1}"></span><span class="fa fa-star" th:if="${1>=g.rating}"></span>
                                <span class="fa fa-star checked" th:if="${g.rating>2}"></span><span class="fa fa-star" th:if="${2>=g.rating}"></span>
                                <span class="fa fa-star checked" th:if="${g.rating>3}"></span><span class="fa fa-star" th:if="${3>=g.rating}"></span>
                                <span class="fa fa-star checked" th:if="${g.rating>4}"></span><span class="fa fa-star" th:if="${4>=g.rating}"></span>
                                <span class="fa fa-star checked" th:if="${g.rating==5}"></span><span class="fa fa-star" th:if="${5>g.rating}"></span></p>
                            <p th:text="${g.description}">Herodes Palomo Chavez</p>
                        </div>
                    </div>
                </div>
                <hr/>
            </div>

            <div class="w3-col s12" th:if="${category.getParent()!=null}" th:each="subCategory : ${category}">
                <i><h4 th:text="${subCategory.categoryName}" class="w3-text-red w3-margin-top">Sub Category</h4></i>
                <div class="w3-col s12 m4 l3" th:if="${g.getCategory() == subCategory}" th:each="g : ${goods}">
                    <div class="w3-card-4" style="display:block">
                        <a href="good.html" th:href="@{/good(goodsId=${g.id})}">
                            <img src="http://via.placeholder.com/300x300" th:src="${g.imgSrc}" style="width:100%;max-height: 300px;object-fit: contain" class="w3-margin-top"/>
                        </a>
                        <div class="w3-container">
                            <a href="good.html" th:href="@{/good(goodsId=${g.id})}"><h3 th:text="${g.name}">La Geometria Mar</h3></a>
                            <p><span class="fa fa-star checked" th:if="${g.rating>1}"></span><span class="fa fa-star" th:if="${1>=g.rating}"></span>
                                <span class="fa fa-star checked" th:if="${g.rating>2}"></span><span class="fa fa-star" th:if="${2>=g.rating}"></span>
                                <span class="fa fa-star checked" th:if="${g.rating>3}"></span><span class="fa fa-star" th:if="${3>=g.rating}"></span>
                                <span class="fa fa-star checked" th:if="${g.rating>4}"></span><span class="fa fa-star" th:if="${4>=g.rating}"></span>
                                <span class="fa fa-star checked" th:if="${g.rating==5}"></span><span class="fa fa-star" th:if="${5>g.rating}"></span></p>
                            <p th:text="${g.description}">Herodes Palomo Chavez</p>
                        </div>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </body>
</html>
