<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Bookshelf</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>   
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <style>
        .checked {
            color: orange;
        }
        </style>
    </head>
    <body>

        <div th:replace="fragments/menu :: main"></div>
        <div th:if="${category!=null}"><div th:replace="fragments/breadcrumbs :: category(${category})"></div></div>

        <div class="w3-container w3-margin">
            <div th:if="${currentUser != null}"><a hrem="#" th:href="@{/edit_item(goodsId=${goods.id})}" th:if="${currentUser==goods.getSeller() || currentUser.isAdmin()}">edit</a></div>
            <div class="w3-row-padding">
                <h1 class="w3-col s12" th:text="${goods.name}">La Geometria Mar</h1>
            </div>
            <div class="w3-row-padding">
                <div class="w3-col l4 m6 s12">
                    <img src="http://via.placeholder.com/300x300" th:src="@{/good-image(goodId=${goods.id})}" style="width:100%;max-height: 450px;object-fit: contain" class="w3-margin-top"/>
                </div>
                <div class="w3-col l8 m6 s12">
                    <table class="w3-table w3-bordered">
                        <tr>
                            <th style="width:50px">Category</th>
                            <td th:text="${category.getParent().categoryName}">Herodes Palomo Chavez</td>
                        </tr>
                        <tr>
                            <th style="width:50px">Sub-Category</th>
                            <td th:text="${category.categoryName}">Herodes Palomo Chavez</td>
                        </tr>
                        <tr>
                            <th>Seller Name</th>
                            <td th:text="${seller.fullName}">99-7854-060-1</td>
                        </tr>
                        <tr>
                            <th>Code</th>
                            <td th:text="${goods.code}">99-7854-060-1</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td th:text="${goods.status}">1989</td>
                        </tr>
                        <tr>
                            <th>Manufacturer</th>
                            <td th:text="${goods.manufacturer}">1989</td>
                        </tr>
                        <tr>
                            <th>Amount</th>
                            <td th:text="${goods.amount}">1989</td>
                        </tr>
                        <tr>
                            <th>Price</th>
                            <td th:text="${goods.price} + ' &euro;'">1989</td>
                        </tr>
                        <tr>
                            <th><span class="fa fa-star checked" th:if="${goods.rating>1}"></span><span class="fa fa-star" th:if="${1>=goods.rating}"></span>
                                <span class="fa fa-star checked" th:if="${goods.rating>2}"></span><span class="fa fa-star" th:if="${2>=goods.rating}"></span>
                                <span class="fa fa-star checked" th:if="${goods.rating>3}"></span><span class="fa fa-star" th:if="${3>=goods.rating}"></span>
                                <span class="fa fa-star checked" th:if="${goods.rating>4}"></span><span class="fa fa-star" th:if="${4>=goods.rating}"></span>
                                <span class="fa fa-star checked" th:if="${goods.rating==5}"></span><span class="fa fa-star" th:if="${5>goods.rating}"></span></th>
                        </tr>
                    </table>
                    <form action="mybooks.html" th:action="@{/order}" method="post" style="width: 100%">
                        <select class="w3-select w3-right w3-margin-left" style="width: 200px" name="orderAmount" >
                            <option value="" disabled="disabled" selected="selected" class="w3-text-gray">Choose amount</option>
                            <option value="1" th:each="i : ${#numbers.sequence( 1, __${goods.amount}__)}" th:text="${i}" th:value="${i}" name="orderAmount">Option 1</option>

                        </select>
                        <input type="hidden" name="goodsId" th:value="${goods.id}"/>
                        <button class="w3-button w3-right w3-red">Order</button>
                    </form>
                    <div th:if="${currentUser != null}" >
                        <div th:if="${reservation != null}" class="w3-panel" style="width: 100%">
                            <div th:each="rg : ${reservation.getReservationGoods()}">
                                <div th:if="${rg.getGoods().id == goods.id}"  class="w3-panel w3-green w3-right w3-margin-left">
                                    <a href="/mycart">You are successfully add item to <i class="fa fa-shopping-cart" style="font-size:18px;color:white"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w3-row-padding">
                <div class="w3-col s12">
                    <h3>Description:</h3>
                    <p th:text="${goods.description}">Lorem ipsum dolor sit amet</p>
                </div>
            </div>
        </div>

        <th:block layout:replace="fragments/menu :: script"/>
    </body>
</html>