<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>EasyBuy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>   
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    </head>
    <body>

        <div th:replace="fragments/menu :: main"></div>
        <div class="w3-row-padding">
            <h1 class="w3-col s12" th:text="${currentUser.fullName}">La Geometria Mar</h1>
        </div>
        <form action="mybooks.html" th:action="@{/approveReservation}" method="post">
            <table class="w3-table w3-bordered w3-striped w3-border w3-hoverable">
                <tr class="w3-blue">
                    <th>ID</th>
                    <th></th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Order ID</th>
                    <th>Client Name</th>
                    <th>Client Address</th>
                    <th></th>
                </tr>
                <tr  th:each="rg, stat : ${reservationGoods}">
                    <td style='vertical-align:middle' th:text="${stat.index+1}">ID</td>
                    <td style='vertical-align:middle; width: 150px'><a th:href="@{/good(goodsId=${rg.getGoods().id})}"><img src="http://via.placeholder.com/300x300" th:src="@{/good-image(goodId=${rg.goods.id})}" style="width:100%;max-height: 150px;object-fit: contain"/></a></td>
                    <td style='vertical-align:middle'><a th:href="@{/good(goodsId=${rg.getGoods().id})}" th:text="${rg.goods.name}">Name</a></td>
                    <td style='vertical-align:middle' th:text="${rg.amount}">Amount</td>
                    <td style='vertical-align:middle' th:text="${rg.goods.price + ' &euro;'}">Price</td>
                    <td style='vertical-align:middle; width: 200px'>
                        <div th:if="${rg.getStatus().toString()!='PROGRESS'}"><div th:text="${rg.getStatus()}">Status</div></div>
                        <div th:if="${rg.getStatus().toString()=='PROGRESS'}">
                            <div>
                                <select class="w3-select" style="width: 120px" th:name="reservationGoodStatus" >
                                    <option value="1" th:text="PROGRESS" th:value="PROGRESS" th:selected="selected">Option 1</option>
                                    <option value="2" th:text="APPROVED" th:value="APPROVED">Option 2</option>
                                    <option value="3" th:text="DECLINED" th:value="DECLINED">Option 3</option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td style='vertical-align:middle' th:text="${rg.reservation.id}">Order ID</td>
                    <td style='vertical-align:middle' th:text="${rg.getReservation().getClient().getFullName()}">Client Name</td>
                    <td style='vertical-align:middle' th:text="${rg.getReservation().getClient().getAddress()}">Client Address</td>
                    <td style='vertical-align:middle; width: 200px'>
                        <div th:if="${rg.getStatus().toString()=='PROGRESS'}">
                            <input type="hidden" name="reservationGoodId" th:value="${rg.id}"/>
                            <button class="w3-button w3-black w3-margin">Change Status</button> 
                        </div>
                    </td>
                </tr>
            </table>
        </form>
        <th:block layout:replace="fragments/menu :: script"/>
    </body>
</html>
